<nav class="navbar navbar-static-top thrust-navbar thrust-navbar-text">
	<div class="container-fluid">
		<div class="container">
			<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-thrust" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
				<a ui-sref="home">
					<img class="thrust-navbar-logo-image" src="static/images/logo.png" />
					<span class="navbar-brand thrust-navbar-logo-text">Thrust ID</span>
				</a>
			</div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-thrust" >
                <ul class="nav navbar-nav navbar-right" ng-show="nav.isActive()">
                    <li><a ng-href="#" ui-sref="list">List</a></li>
                    <li><a ng-href="#" ng-click="nav.logout()">Log Out</a></li>
                </ul>
            </div>
		</div>
	</div>
</nav>
