
.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #536DFE; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


.home-banner           {
    margin-top: -20px;
    height: 200px;
    background-image: url(/static/images/background.jpg);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}
