<div class="container-fluid home-banner"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="account-wall">
				<form class="form-signin" ng-submit="login.loginSubmit()">
					<input type="text" ng-model="login.user" class="form-control m-t-b" placeholder="User" required autofocus>
					<input type="password" ng-model="login.password" class="form-control m-t-b" placeholder="Password" required>
					<button class="btn btn-md btn-primary btn-block m-t-b" type="submit">Sign in</button>
				</form>
			</div>
		</div>
	</div>
</div>