
<div class="home-banner"></div>
<md-content id="content" >
	<div layout="column" layout-align="center center" layout-padding layout-lg layout-fill>
		<form ng-submit="login.loginSubmit()">
			<md-card layout-padding layout-lg layout-fill>
				<md-input-container layout="row">
					<label>User</label>
					<input type="text" ng-model="login.user" required>
				</md-input-container>
				<md-input-container layout="row">
					<label>Password</label>
					<input type="password" ng-model="login.password" required>
				</md-input-container>
				<md-card-actions layout="row" layout-align="end">
					<md-button type="submit" class="md-raised md-primary" flex="50" flex-sm="100">Login</md-button>
				</md-card-actions>
			</md-card>
		</form>
	</div>
</md-content>

<!--
<div layout="column" flex id="content" role="main">
	<md-content layout="vertical" flex id="content">
		<div layout="row" layout-align="center center" layout-fill>
			<md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
				<md-content md-theme="docs-dark">
					<md-input-container>
						<label>Email</label>
						<input ng-model="user.email">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input ng-model="user.password" type="password">
					</md-input-container>
					<md-input-container layout-align="center center">
						<div layout="row" layout-sm="column" layout-margin>
							<md-button class="md-raised md-primary" flex="50" flex-sm="100">Login</md-button>
						</div>
					</md-input-container>
				</md-content>
			</md-whiteframe>
		</div>
	</md-content>
</div>-->